body {
    background-image: url("assets/tree12.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    text-align: center;
    padding-top: 50px;
}
h1 {
    font-size: 48px;
    color: white;
    text-align: center;
    margin: auto;
}

h2 {
    font-size: 36px;
    font-style: italic;
    color: white;
    vertical-align: auto;
    margin-top: 50px;
    line-height:2;
}

h3{
    font-size: 36px;
    font-style:oblique;
    color: white
}

a{
    text-decoration: none;
    color: white;
margin-inline: 50px;}
    a:hover {
        text-decoration: underline; 
    }

a:hover {
    text-decoration: underline; 
}

body.special-page h1{
    text-align: center;
    opacity: 0; 
}

body.special-page h2 {
    text-align: center;
    opacity: 0; 
}

body.special-page .fade-in {
    animation: fadeIn 2s forwards; 
}
body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif, monospace;
    background-color: black;
    color: white; 
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}



@keyframes fadeIn {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1; 
    }
}

body.special-page .fade-in:nth-child(1) {
    animation-delay: 1s;
}
body.special-page .fade-in:nth-child(2) {
    animation-delay: 2s; 
}
body.special-page .fade-in:nth-child(3) {
    animation-delay: 3s; 
}
body.special-page .fade-in:nth-child(4) {
    animation-delay: 4s; 
}
body.special-page .fade-in:nth-child(5) {
    animation-delay: 5s; 
}
body.special-page .fade-in:nth-child(6) {
    animation-delay: 6s; 
}
body.special-page .fade-in:nth-child(7) {
    animation-delay: 7s; 
}
body.special-page .fade-in:nth-child(8) {
    animation-delay: 8s; 
}
body.special-page .fade-in:nth-child(9) {
    animation-delay: 10s; 
}