body, html {
  height: 100%;
  margin: 0;
}

.gallery {
  display: flex; /* Set gallery as flex container */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  height: 100%; /* Ensure the gallery takes up the full height of the viewport */
}

.item {
  width: 200px; /* Set the width of each item */
  height: 200px; /* Set the height of each item */
  overflow: hidden; /* Hide overflow content */
  margin: 10px; /* Margin around each item */
  position: relative; /* Establish relative positioning for absolute children */
}

.item img {
  width: 100%; /* Ensure image fills its parent container */
  height: 100%; /* Ensure image fills its parent container */
  object-fit: cover; /* Ensure image covers the container without stretching */
}

.item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: filter 0.3s ease; /* Add transition effect */
}

.item:hover img {
    filter: brightness(80%) saturate(120%) hue-rotate(10deg); /* Apply filter on hover */
}