body, html {
    height: 100%;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .container a {
    margin-right: 20px; /* Adjust the gap between images */
  }
  
  .container a img {
    transition: transform 0.3s ease; /* Add smooth transition effect */
  }
  
  .container a img:hover {
    transform: scale(1.1); /* Increase the size of the image on hover */
  }